/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

body,
button,
input,
select,
textarea {
	background-color: hsl(0, 0%, 85%);
    margin: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

/*--------------------------------------------------------------
Grid
--------------------------------------------------------------*/

.site {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	/* grid-template-rows: auto 1fr 3fr; */
}

.page-title {
	grid-column: 1/5;
	grid-row: 1/2;
}

.main-content {
	grid-column: 1/3;
	grid-row: 2/4;
}

.sidebar {
	grid-column: 3/5;
	grid-row: 3/4;
}

.masthead {
	grid-column: 3/5;
	grid-row: 2/3;
}

.main-area {
	grid-column: 1/5;
	grid-row: 4;
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/
.masthead,
.page-title,
.main-content,
.sidebar,
.main-area {
	background-color: hsl(0, 0%, 85%);

}

.masthead {
	background-color: hsl(0, 0%, 90%);
	color: white;
}

.page-title {
	background-color: #f8f8f8;
	color: black;
}

.main-content {
    background-color: #70bf40;
}

.sidebar {
	background-color: hsl(0, 0%, 90%);
	color: white;
}

.main-area {
    background-color: #0265c0;
}

/*--------------------------------------------------------------
Nav Bar
--------------------------------------------------------------*/
nav {
    background-color: white;
    margin-bottom: -7px;
}
.bar ul {
    list-style-type: none;
    margin: 0px;
    /* margin-bottom: -17px; */
    padding: 0px;
}
.bar li h2 {
	margin: 14px 0 0 0;
	
}

.bar li  {
    float: left;
}

.bar li img {
  height: 60px;
  display: block;
  border: 0;
  width: auto;
  /* height: 60px; */
}

/*--------------------------------------------------------------
main content
--------------------------------------------------------------*/
.main-content {
	padding: .5em;
	background-color: hsl(0, 0%, 90%);
}
.splash {
	background-color: rgb(26, 99, 141); /* For browsers that do not support gradients */
	background-image: linear-gradient(to bottom right, rgb(162, 200, 218), rgb(28, 81, 116)); /* Standard syntax (must be last) */ 
	padding-bottom: .2em;
    color: white;
    font-size: 17px;
    border-radius: 5px;
}

.splash-content {
	padding: 1.5em;
}

.content-title {
	text-align: center;
	font-size: 35px;
}
.contact-link {
	color: #f1f1f1;
}
/*--------------------------------------------------------------
Side bar:
--------------------------------------------------------------*/
.sidebar-duex {
	padding: .5em;
	/* background-color: hsl(0, 0%, 90%); */
	/* margin-bottom: 1em; */
}

.sidebar-duex h2 {
	text-align: center;
	font-size: 18px;
	margin: 0px;
	text-decoration: underline;
}

.sidebar-duex ul {
	font-size: 14px;
	text-align: left;
	padding: 0px 0px 0px 30px;
}

.sidebar-duex li {
	text-align: left;
	margin-bottom: 1em;
}

/* Side bar */

.sidebar {
	padding: .5em;
	/* background-color: hsl(0, 0%, 90%); */
}
.sidebar-box {
	padding: .6em;
	border-radius: 5px;
	/* background-color: rgb(153, 158, 160);  */
	background-image: linear-gradient(to bottom right, rgb(82, 99, 110),  rgb(164, 168, 170));
}

.sidebar .sidebar-box .cards{
	display: flex;
	justify-content: center;
	/* padding: 25px; */
}

.sidebar h2 {
	text-align: center;
	font-size: 18px;
	margin: 0px;
	text-decoration: underline;
}

.sidebar ul {
	font-size: 14px;
	text-align: left;
	padding: 0px 0px 0px 30px;
}

.sidebar li {
	margin-bottom: 1em;
}


/*--------------------------------------------------------------
Cards:
--------------------------------------------------------------*/
.main-area {
	background-color: hsl(0, 0%, 90%);
}

.main-area h1 {
	text-align: center;
}

.cards h2 {
	font-size: 18px;
}

.cards {
	list-style-type: none;
}

ul.cards {
	padding: 0px 80px !important;
}

.card {
	margin: 1em;
}

.card a {
	display: grid;
	padding: 0 40px;
	color: hsl(0, 0%, 5%);
	text-align: center;
	text-decoration: none;
	background: white;
	/* border: 1px transparent; */
	transition: all .2s;
	border-radius: 4px;
	/* font-family: 'Rajdhani', sans-serif; */
}

.card a:focus,
.card a:hover {
	/* margin: -5px 5px 5px -5px; */
	box-shadow: 6px 6px 0px 0px hsla(0, 0%, 70%, .8);
}


.cards h2 {
	/* font-family: 'Open Sans Condensed', sans-serif; */
	/* font-family: 'Rajdhani', sans-serif; */
	padding: 0 40px;
	font-size: 1.2em;
	margin: 5px;
}

